<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="icon-list">

          <li>
          <a href="{{ site.baseurl }}/feed.xml">
            {% include icon.html text="subscribe via RSS" icon="icons/rss.svg" %}
          </a>
          </li>

          {% if site.home %}
          <li>
          <a href="{{ site.home }}">
            {% include icon.html text=site.home icon="icons/home.svg" %}
          </a>
          </li>
          {% endif %}

        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="icon-list">

          {% if site.github_username %}
          <li>
          <a href="https://github.com/{{ site.github_username }}">
            {% include icon.html text=site.github_username icon="icons/github.svg" %}
          </a>
          </li>
          {% endif %}

          {% if site.email %}
          <li>
          <a href="mailto:{{ site.email }}">
            {% include icon.html text=site.email icon="icons/envelope-closed.svg" %}
          </a>
          </li>
          {% endif %}

        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>
          {{ site.description }}Everything in this blog is licensed under the <a href="https://opensource.org/licenses/MIT">MIT License</a>.
        </p>
      </div>
    </div>

  </div>

</footer>
